.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-top: 1.875rem;
    padding-right: 0.625rem;
    user-select: none;

    img {
        width: 3.125rem;
        filter: drop-shadow(0.0625rem 0.0625rem 0.125rem var(--secondary));
        animation: shadowPulse 2s infinite alternate;
    }
}

@keyframes shadowPulse {
  0% {
    filter: drop-shadow(0 0 0.3125rem rgba(0, 255, 255, 0.7));
  }
  50% {
    filter: drop-shadow(0 0 0.625rem rgba(0, 100, 255, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 0.3125rem rgba(0, 255, 255, 0.7));
  }
}