@font-face {
    font-family: 'Neue Machina';
    src: url('../assets/fonts/neue-machina-regular.otf');
}

:root {
    --font-portfolio: 'Neue Machina';
    --bg-container: linear-gradient(to right, #434343 0%, black 100%);
    --color-white: #FFF;
    --secondary: #55569E;
}

body {
    background-image: var(--bg-container);
    width: 100vw;
    height: 100vh;
    padding: 1.25rem 0;
    color: var(--color-white);
    
}

ol {
    list-style: none;
}

figure > img {
    width: 100px;
}