@font-face {
    font-family: 'Neue Machina';
    src: url('../assets/fonts/neue-machina-regular.otf');
}

:root {
    --font-portfolio: 'Neue Machina';
    --bg-container: linear-gradient(to right, #434343 0%, black 100%);
    --color-white: #FFF;
    --secondary: #55569E;

}

html {
    scrollbar-width: none;
}

body {
    background-image: var(--bg-container);
    padding: 1.25rem 0;
    color: var(--color-white);
    
}

ol {
    list-style: none;
}

a {
    color: var(--color-white);
    text-decoration: none;
    outline: none;
}

.hidden {
    display: none;
}

.bg-hover {
    background-color: var(--secondary);
}

.element-btn {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    
}

.box {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

