main {
    max-width: 20rem;

    margin: auto;
    border-radius: 0.5rem;
    outline: 0.0625rem solid var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
}


@media screen and (width > 48rem) {
    main {
        max-width: 29.375rem;
    }
}