.skills {
    width: 20rem;
    padding: 1.875rem 1.25rem 0 1.25rem;


    .select {
        height: 2.5rem;
        outline: 0.0625rem solid var(--color-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1.25rem;
        border-radius: 0.625rem;

        span {
            font-weight: 600;
            font-size: 1.1rem;
            user-select: none;
        }

        button {
            background: none;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            height: 100%;
            user-select: none;
            

            img {
                width: 0.625rem;
                cursor: pointer;
                user-select: none;
            }
        }
    }

    .select:hover {
        background-color: var(--secondary);
        outline: none;
    }

    .skills-content {
        display: flex;
        flex-direction: row;
        gap: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        margin-top: -1.25rem;
        padding: 0.3125rem;
        user-select: none;
        

        .box-content {
            padding-top: 0.9375rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .span {
                height: 3.4375rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            ol {
                display: grid;
                grid-template-columns: 1fr 1fr;


                li {
                    width: 100%;
                    display: flex;
                    text-align: initial;
                    align-items: center;
                    justify-content: center;


                    img {
                        width: 3.125rem;
                    }

                    span {
                        height: 1.875rem;
                        width: 100%;
                        font-size: 0.7rem;
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }

                }

                
            }

            
        }
    }
}

@media screen and (width > 48rem) {
    
    .skills {
        width: 20.625rem;
        padding: 1.875rem 0 0rem;

        .select {
            outline: 0.0625rem solid var(--color-white);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.25rem;
            border-radius: 0.625rem;

            span {
                max-width: 8.125rem;
                text-align: center;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 3.4375rem;
            }
        }
        .skills-content {
            display: flex;
            flex-direction: row;
            gap: 0.625rem;

        }
    }
}